<footer>
<hr>
<p>
    Copyright (©) 2022-2023 Reuben Ferabend
    <br>
    Source code can be found on <a href="https://codeberg.org/railwhale/website" target="_blank">Codeberg</a>.
    <br>
    This page is not part ~Vern, it is my own personal site. (<a href="/aboutsite.html" target="_self">About site</a>)
    <br>
    This work is licenced under the <a rel="license" href="/LICENSE.txt">CC BY-SA 4.0</a>
</footer>
