<header>
  <a href="/" target="_self">
    <img src="/images/pfp.png" alt="Whale Icon" title="Go home" height="40"></a>
  <h1 class="name">Railwhale</h1>
  <nav>
    <a href="/socialscontact" target="_self" title="Stalker">Socials & Contact</a>
    |
    <a href="/ramblings" target="_self" title="My blog">The Sacred Texts</a>
    |
    <a href="https://vern.cc" target="_self" title="Go back to the Vern homepage">~Vern</a>
  </nav>
</header>
<hr>
