html {
	font: normal 16px "Noto Sans", sans-serif;
	background: #1C1C1C;
	color: #c6ccd7;
}

header {
	align-items:center;
	display:flex;
	justify-content:space-between;
	white-space:nowrap;
	flex-wrap: wrap;
}

.name {
    color: #c8c8ff;
	font-size: 40px;
}

nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: flex-end;
}

body {
	margin: 20px auto;
	max-width: 950px;
	padding: 0 10px;
}

a {
    color: rgb(129, 183, 5);
	text-decoration: none;

}

a:visited {
	color: rgb(35, 140, 6);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.home-links {
	list-style:none;
}

.home-link::before {
	content: "~/ ";
	font-weight: bold;
}


footer {
	align-items: center;
	text-align: center;
}
